*{
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FAFAC6;
}
#container{
    display: grid;
    position: absolute;
    background-color: #FCFFEB;
    width: 1080px;
    left: 50%;
    transform: translateX(-50%);
}

.itm{
    position: relative;
    background-color: #FECDAA;
    height: 800px;
    width: 800px;
    margin: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    outline: 5px dashed #474350 ;
    background-color: #F8FFF4;
    outline-offset:-10px;  
    transition: all .15s ease-in-out;
    width: 500px;
    height: 500px;
}
