.basic{
    position: relative;
}

/* 제품 사진 및 설명 pii */
.basic.pii.img{    
    margin: auto;
    top: 50px;
}
.basic.pii.text_wrap{
    top: 80px;
    text-align: center;
}
.basic.pii.text{}
.basic.pii.text.title{
    font-weight: 800;
    font-size: 20px;
}
.basic.pii.text.info{
    font-weight: 400;
}    

/* 제품 상세사진 psi */
.basic.psi.img{
    height: 720px;
    width: 720px;
    top: 40px;
    margin: auto;
}

/* 브랜드 소개  pbi */
.basic.pbi.logo{
    display: inline-block;
    margin: 10px;
    width: 350px;
    height: 350px;
    top: 30px;
    left: 30px;
}
.basic.pbi.text_wrap{
    top: 30px;
    left: 40px;
}
.basic.pbi.text{}
.basic.pbi.text.title{
    font-weight: 800;
    font-size: 50px;
}
.basic.pbi.text.info{
    font-weight: 400;
    font-size: 20px;
}

/* 제품 소재 pmi */
.basic.pmi.img{
    width: 350px;
    height: 350px;
    top: 10px;
    left: 10px;
    margin: 25px;
}
.basic.pmi.text_wrap{
    position: fixed;
    display: inline-block;
    width: 350px;
    top: 25px;
    right: 25px;
}
.basic.pmi.text{}
.basic.pmi.text.title{
    font-weight: 800;
    font-size: 50px;
}
.basic.pmi.text.info{
    font-weight: 400;
}

/* 제품 사이즈 */

/* 안내사항 */
